#############################################
# APP
#############################################

APP_ENV=development

#############################################
# MYSQL
#############################################

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=rust_clean
MYSQL_USERNAME=root
MYSQL_PASSWORD=password

#############################################
# REDIS
#############################################

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0 # optional
REDIS_PASSWORD=

#############################################
# JWT
#############################################

JWT_SECRET=replace-with-secure-secret

#############################################
# SMTP
#############################################

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=

SMTP_PASSWORD=
SMTP_FROM=noreply@example.com

#############################################
# STORAGE
#############################################

STORAGE_DRIVER=local

#############################################
# MINIO
#############################################

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=uploads
MINIO_USE_SSL=false

#############################################
# AWS S3
#############################################

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET=

#############################################
# FIREBASE
#############################################

FIREBASE_CREDENTIAL=./firebase.json

#############################################
# LOG
#############################################

LOG_LEVEL=debug